# Google Cloud Service Account JSON File Path (Absolute path or relative to BASE_PATH)
GOOGLE_CREDENTIALS_PATH=credentials.json

# The ID of your Google Spreadsheet (found in the URL)
GOOGLE_SPREADSHEET_ID=1LQqMtnxknFxd5g_bSr-CBFYdDbyO3mvldyV23LXDNWs

# App settings
APP_ENV=development
APP_DEBUG=true
APP_URL=http://localhost/finance-dashboard
